body{
  background: radial-gradient(circle,#0f2027,#203a43,#2c5364);
  font-family: Arial;
  color:white;
  overflow-x:hidden;
}

.login-box{
  width:300px;
  margin:100px auto;
  padding:30px;
  background:black;
  box-shadow:0 0 25px cyan;
  text-align:center;
  border-radius:20px;
  transition: 0.5s;
}

.login-box:hover{
  box-shadow:0 0 50px lime;
}

.login-box input, button{
  width:90%;
  margin:10px;
  padding:12px;
  border-radius:8px;
  border:none;
}

button{
  background:cyan;
  font-weight:bold;
  cursor:pointer;
  transition: 0.3s;
}

button:hover{
  background:lime;
  color:black;
  box-shadow:0 0 20px cyan;
}

.title{text-align:center;color:cyan;}
.tabs{text-align:center;}

.tab-content{
  display:none;
  background:white;
  color:black;
  width:320px;
  margin:20px auto;
  padding:20px;
  border-radius:15px;
  box-shadow:0 0 20px cyan;
}

.animated-container img{
  width:120px;
  margin:10px;
  border-radius:15px;
  box-shadow:0 0 15px cyan;
  animation: float 3s ease-in-out infinite;
  transition: 0.3s;
}

.animated-container img:hover{
  transform: scale(1.1) rotate(5deg);
  box-shadow:0 0 30px lime;
}

@keyframes float {
  0% { transform: translateY(0px);}
  50% { transform: translateY(-15px);}
  100% { transform: translateY(0px);}
}
